* {
    margin: 0;
    padding: 0;

}

nav a:hover {
    background-color: lightgray;

}

.container {
    padding: 0;
}

.list-group {
    text-align: left;
}

#main-jumbo {
    background-image: url("../imgs/pizza.png");
    background-size: cover;
    margin-top: 56px;
}



.display-4 {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.header {
     background-color: lightgray;
}

.card-header{
    text-align: left;
    background-color: blue;
    color: white;
}



.card-footer {
    text-align: right;
}




