* {
    padding: 10px;

}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

}

.message {
    width: 90%;
    margin: 10px auto;
    border-radius: 8px;
    border: .5px solid lightgrey;

}

.message-info {
    color: darkblue;
    background-color: lightblue;

}

.message-success {
    color: darkgreen;
    background-color: darkseagreen;

}

 .message-warning {
    color: darkgoldenrod;
    background-color: lightgoldenrodyellow;

}

.message-error{
    color: darkred;
    background-color: lightcoral;

}