* {
    box-sizing: border-box;
}

body {
    /*margin:0;*/
}

.bonus-container {
    display: inline-grid;
    width: 333vh;
    height: 333vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

main .bonus-container {
    display: inline-grid;
    flex-direction: column;
    grid-gap: 4px;
    /*background-color: black;*/
}

 .bonus-container .ivory1 {
    /*grid-area: 1/1/3/5;*/
    grid-row: 1/span 2;
    background-color: yellow;
  }
.ivory2 {
    grid-area: 3/1/7/7;
    background-color: ivory;
}

.ivory3 {
    grid-area: 7/1/3/3;
    background-color: ivory;
}

.bonus-yellow-bottom-left {
    grid-area: 13/1/17/3;
    background-color: darkgoldenrod;
}

.bonus-darkred-middle {
    grid-area: 3/3/11/11;
    background-color: darkred;
}

.black-square {
    grid-area: 11/3/15/7;
    background-color: black;
}

.ivory4 {
    grid-area: 15/3/17/7;
    background-color: ivory;
}

.ivory5 {
    grid-area: 11/7/13/11;
    background-color: ivory;
}

.ivory6 {
    grid-area: 13/7/15/11;
    background-color: ivory;
}

.black-rectangle {
    grid-area: 15/7/16/11;
    background-color: black;
}

.


