@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');
.fancy-header{
    color: darkblue;
    text-decoration: underline;
    text-decoration-color: gray;
    text-align: center;
    background-image: url("https://lh3.googleusercontent.com/proxy/v3WUMr0JwuNl9fWSVffgKa57cd2CwkZVc1HpjQww5FbW8ZqHpBiNDURRAy7QQGdl4Rb3eL43Zojnr0gZfbLF8AQ8g96R95OpLXMH3F6bkKM4DlAwvF1ZiA03jDc2TC8DNAz5cMdM") ;
}
body{
    color: darkblue;
    background-color: lightgrey;
    background-image: url("https://i.ya-webdesign.com/images/dot-grid-png-2.png");
    background-repeat: round;
    font-family: "Simonetta", "arial";
    background-size: ;
}

h2{
    color: darkblue;
    text-decoration: underline;
    text-decoration-color: gray;
    background-color: lightgrey;
}
ul, ol {
    list-style: lower-alpha;
    background-color: lightgrey;
}
table {
    font-size: larger;
}
tr>td {
    font-size: large;
    padding: 50px;
    text-align: center;
    background-color: darkgray;
}
a:hover{
    background-color: lightgrey;
}
a:link{
    text-decoration: underline;
    text-decoration-color: gray;
}
a:visited{
    color: darkslategrey;
}
a:active{
    color: darkgoldenrod;
}